target/
.idea/
.iml/
iml/
.DS_Store
/java-core-app/target
/java-core-app/.idea
/java-core-app/java-core-app.iml
/mvn-client/target
/mvn-client/mvn-client.iml
/myclassloader/.idea
/myclassloader/myclassloader.iml
/mvn-client/.idea
/myclassloader/target
/tcp-server-app/.idea
/tcp-server-app/target
/tcp-server-app/tcp-server-app.iml
/fx-chat-app/target
/fx-chat-app/.idea
/fx-chat-app/fx-chat-app.iml
/nice-screen/target
/nice-screen/.idea
/nice-screen/nice-screen.iml
/mysql-crud/target
/mysql-crud/.idea
/mysql-crud/items.xml
/mysql-crud/mysql-crud.iml
/soap-client-cars/target
/soap-client-cars/soap-client-cars.iml
/soap-client-cars/.idea
/soap-client-1/.idea
/soap-client-1/target
/soap-client-1/soap-client-1.iml
/my-kafka-app/*.iml
/my-kafka-app/.idea
/my-kafka-app/target
/Guice/ch03-@Named/my-guice-app/.idea
/Cassandra/my-cassandra-driver-object-mapper/*.iml
/Cassandra/my-cassandra-driver/*.iml
/Kafka/03. kafka-simple-autoconfig-offset/spring-kafka-simple-configuration2-consumer/*.iml
/Kafka-Stream/spring-kafka-stream-app07/*.iml
/Protobuff/gRPC/gRPC-app02-Unary/build
